/** Animation Lib
 * _______       _____                  __________                 _________________
 * ___    |_________(_)______ _________ __  /___(_)____________    ___  /___(_)__  /_
 * __  /| |_  __ \_  /__  __ `__ \  __ `/  __/_  /_  __ \_  __ \   __  / __  /__  __ \
 * _  ___ |  / / /  / _  / / / / / /_/ // /_ _  / / /_/ /  / / /   _  /___  / _  /_/ /
 * /_/  |_/_/ /_//_/  /_/ /_/ /_/\__,_/ \__/ /_/  \____//_/ /_/    /_____/_/  /_.___/
 *
 * @author Félix Dion Robidoux
 * @version 0.2a
 */

/** RESSOURCES
 * http://desandro.github.io/3dtransforms/
 * http://westciv.com/tools/3Dtransforms/
 * http://sapphion.com/2011/10/css3-gradient-transition-with-background-position/
 * https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transitions
 */

/**
 * ### Sneeze ###
 * Fait éternuer l'élément, le propulsant hors de l'écran.
 */
.animlib_sneeze {
	-webkit-animation: sneeze 750ms ease-in 100ms 1 normal forwards;
	-o-animation: sneeze 750ms ease-in 100ms 1 normal forwards;
	animation: sneeze 750ms ease-in 100ms 1 normal forwards;

}

@shiverIn: -5px; // Déplacement vers la gauche durant le grelotement.
@shiverOut: 5px; // Déplacement vers la droite durant le grelotement.
@backBlastIn: -18px; // Déplacement vers le haut avant l'éternuement.
@backBlastOut: 30px; // Déplacement vers le bas durant l'éternuement.

@keyframes sneeze {
	30% {
		transform: translate(@shiverIn, @backBlastIn) scale(0.80, 1.2);
	}
	37.5% {
		transform: translate(@shiverOut, @backBlastIn - 3px) scale(0.75, 1.2);
	}
	42.5% {
		transform: translate(@shiverIn, @backBlastIn - 5px) scale(0.70, 1.2);
	}
	47.5% {
		transform: translate(@shiverOut, @backBlastIn - 7px) scale(0.65, 1.2);
	}
	52.5% {
		transform: translate(@shiverIn, @backBlastIn - 9px) scale(0.60, 1.2);
	}
	57.5% {
		transform: translate(@shiverOut, @backBlastIn - 11px) scale(0.55, 1.2);
	}
	62.5% {
		transform: translate(@shiverIn, @backBlastIn - 13px) scale(0.5, 1.2);
		opacity: 1;
	}
	80% {
		transform: translate(0px, @backBlastOut) scale(1.2, 1.2);
	}
	100% {
		transform: translate(0px, 0px) scale(0.1, 0.1);
		opacity: 0;
	}
}

/** DEHR PopUp
 * Inspired from Deus Ex: Human Revolution's menu animations
 */
.animlib_dehr_popup {
	perspective: 1000px;

	-webkit-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-ms-transform: perspective(1000px);
	-o-transform: perspective(1000px);
	transform: perspective(1000px);

	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;

	transform-style: preserve-3d;
	opacity: 1;

	-webkit-animation: dehr_popup 1s ease-out 0s 1 normal forwards;
	-o-animation: dehr_popup 1s ease-out 0s 1 normal forwards;
	animation: dehr_popup 1s ease-out 0s 1 normal forwards;
}

@keyframes dehr_popup {
	0% {
		-webkit-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		-moz-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		-o-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		-ms-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		-moz-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		-o-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		-ms-transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg) rotateZ(-5.5deg);
		opacity: 0.2;
	}
//	40% {
//		-webkit-transform: perspective(1000px) rotateX(20deg) rotateY(-25deg) rotateZ(2.5deg) translate3d(0px, 0px, 0px);
//		-moz-transform: perspective(1000px) rotateX(20deg) rotateY(-25deg) rotateZ(2.5deg) translate3d(0px, 0px, 0px);
//		-o-transform: perspective(1000px) rotateX(20deg) rotateY(-25deg) rotateZ(2.5deg) translate3d(0px, 0px, 0px);
//		-ms-transform: perspective(1000px) rotateX(20deg) rotateY(-25deg) rotateZ(2.5deg) translate3d(0px, 0px, 0px);
//		transform: perspective(1000px) rotateX(20deg) rotateY(-25deg) rotateZ(2.5deg) translate3d(0px, 0px, 0px);
//	}
//	100% {
//		-webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(10deg);
//		-moz-transform: rotateX(50deg) rotateY(0deg) rotateZ(10deg);
//		-o-transform: rotateX(50deg) rotateY(0deg) rotateZ(10deg);
//		-ms-transform: rotateX(50deg) rotateY(0deg) rotateZ(10deg);
//		transform: rotateX(50deg) rotateY(0deg) rotateZ(10deg);
//	}
}

/** DE:HR Journal
 * This is the animation that happens when you pick up an e-journal in Deus Ex: Human Revolution.
 * Because I really liked that one animation too, I felt it would fit very well as a css3 animation!
 */
.animlib_dehr_journal {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-animation: dehr_journal 1.3s ease 0s 1 normal forwards;
	-o-animation: dehr_journal 1.3s ease 0s 1 normal forwards;
	animation: dehr_journal 1.3s ease 0s 1 normal forwards;
}

@keyframes dehr_journal {
	0% {
		-webkit-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg) translate3d(0%, 200%, 0px);
		-moz-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg) translate3d(0%, 200%, 0px);
		-o-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg) translate3d(0%, 200%, 0px);
		-ms-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg) translate3d(0%, 200%, 0px);
		transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg) translate3d(0%, 200%, 0px);
	}
	40% {
		-webkit-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg);
		-moz-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg);
		-o-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg);
		-ms-transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg);
		transform: perspective(1000px) rotateX(-15deg) rotateY(45deg) rotateZ(10deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-moz-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-o-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-ms-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}

/**
 * Windows 8 button
 * Crée un bouton au style de Windows 8;
 * Inspiré des boutons de l'application stylée à-la-Windows-8 de GitHub.
 */
.animlib_win8btn {
	width: auto;
	height: auto;

	background: #00c7ff;
	background: -moz-radial-gradient(center, ellipse cover, #00c7ff 0%, #00c7ff 70%, #ffffff 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00c7ff), color-stop(70%, #00c7ff), color-stop(70%, #ffffff));
	background: -webkit-radial-gradient(center, ellipse cover, #00c7ff 0%, #00c7ff 70%, #ffffff 70%);
	background: -o-radial-gradient(center, ellipse cover, #00c7ff 0%, #00c7ff 70%, #ffffff 70%);
	background: -ms-radial-gradient(center, ellipse cover, #00c7ff 0%, #00c7ff 70%, #ffffff 70%);
	//	background: radial-gradient(ellipse at center, #00c7ff 0%,#00c7ff 70%,#ffffff 70%);

	border-color: inherit;
	border-radius: 100px;
	padding: 10px 12px 12px 10px;
	text-decoration: none;
	color: inherit;
	background-size: 150% 0%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: border-color 100ms linear, background-size 300ms ease, color 300ms linear;

	&:hover {
		border-color: transparent;
		background-size: 150% 150%;
		color: white;
		transition: border-color 200ms linear, background-size 300ms ease, color 0s linear 80ms;
	}
}



/**
 * Inspiré de Google+.
 */
.animlib_bordureGoogle {
	-webkit-box-shadow: inset -4px 0 0 rgba(255, 0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset -4px 0 0 rgba(255, 0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset -4px 0 0 rgba(255, 0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

	-webkit-transition: box-shadow 200ms, transform 250ms;
	-moz-transition: box-shadow 200ms, transform 250ms;
	-ms-transition: box-shadow 200ms, transform 250ms;
	-o-transition: box-shadow 200ms, transform 250ms;
	transition: box-shadow 200ms, transform 250ms;

	&:hover {
		-webkit-box-shadow: inset -4px 0 0 rgba(255, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);
		-moz-box-shadow: inset -4px 0 0 rgba(255, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);
		box-shadow: inset -4px 0 0 rgba(255, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
	}
}
